html {
  font-size: 10px;
  font-family: 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Helvetica,
    Tahoma, Arial, sans-serif;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 7.5px;
  }
}
